.idea
.vscode

__pycache__/
*.py[cod]

.venv

.ipynb_checkpoints/
.pytest_cache/

.python-version

# plugins/
github/
data/
#yolov7/
tools

*.egg-info

build/
dist/
key.priv
key.pub
node.pid
poetry.lock
